.menu__accordion {
	& .menu__accordion__header.MuiButtonBase-root {
		transition: border-bottom $transition-duration $transition-timing;
		border-bottom: 1px solid rgba($light, 0.15);
	}
	& .Mui-expanded {
		& .menu__accordion__header.MuiButtonBase-root {
			border-bottom: 1px solid rgba($light, 0);
		}
	}
	& .MuiCollapse-container {
		border-left: 1px solid rgba($light, 0.15);
		border-right: 1px solid rgba($light, 0.15);
	}
}

.menu__accordion__header.MuiButtonBase-root {
}

.menu__accordion__item,
.menu__accordion__item.MuiButtonBase-root {
	padding: 0.75rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba($gray-900, 0.9);
	color: $white;
	border-bottom: 1px solid rgba($light, 0.15);

	&:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}
	&:last-child {
		border-bottom: 0;
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}
}
