.loading {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.loading--hidden {
	display: none;
}

.loading__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	.MuiBackdrop-root {
		z-index: 1;
	}
	.MuiCircularProgress-root {
		z-index: 2;
	}
	&.loading__local {
		.MuiBackdrop-root {
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
}

.loading-status-bar__wrapper {
	position: absolute;
	height: 0px;
	overflow: visible;
	display: flex;
	align-items: flex-end;
	bottom: 0px;
	width: 100%;
	left: 0px;
}

.loading-status-bar {
	color: $light;
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-end;
	.loading-message-container {
		font-size: 0.8rem;
	}
	.loading-bar {
		width: 100%;
		position: absolute;
		min-height: 100%;
		opacity: 0.75;
		* {
			background-color: $cyan;
		}
	}
}
