.styled__modal {
}

.styled__modal__xl {
	--max: 1400px;
}

.styled__modal__lg {
	--max: 960px;
}

.styled__modal__md {
	--max: 720px;
}

.styled__modal__sm {
	--max: 480px;
}

.force-max {
	&.styled__modal__xl {
		width: 1400px;
		@media screen and (max-width: 1600px) {
			width: 960px;
		}
		@media screen and (max-width: 1200px) {
			width: 720px;
		}
		@media screen and (max-width: 900px) {
			width: 480px;
		}
		@media screen and (max-width: 480px) {
			width: 95%;
		}
	}

	&.styled__modal__lg {
		width: 960px;

		@media screen and (max-width: 1200px) {
			width: 720px;
		}
		@media screen and (max-width: 900px) {
			width: 480px;
		}
		@media screen and (max-width: 480px) {
			width: 95%;
		}
	}

	&.styled__modal__md {
		width: 720px;

		@media screen and (max-width: 900px) {
			width: 480px;
		}
		@media screen and (max-width: 480px) {
			width: 95%;
		}
	}

	&.styled__modal__sm {
		width: 480px;

		@media screen and (max-width: 480px) {
			width: 95%;
		}
	}
	&.styled__modal__contents {
		height: 80%;
	}
}

.styled__modal__contents {
	width: clamp(15rem, calc(var(--max) * 0.8), 80%);
	background-color: rgba($dark, 0.9);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	color: $light;
	// height: 80%;
	max-height: 80%;
	overflow: hidden;
}

.modal__header {
	padding: 0.375rem 0.75rem 0.375rem 0.75rem;
	width: 100%;
	background-color: rgba($gray-900, 0.9);
	border-bottom: 1px solid rgba($light, 0.3);
	display: flex;
	justify-content: space-between;
	flex: 0;
}

.modal__header__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.modal__header__title {
	font-size: 1.75rem;
}

.modal__body__scroll__wrapper {
	overflow: auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.noScroll {
	overflow: hidden;
}

.modal___body {
	padding: 0.75rem;
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}

.modal___footer {
	border-top: 1px solid rgba($light, 0.3);
	display: flex;
	justify-content: flex-end;
	padding: 0.75rem;
	flex: 0;
}

.data-fix {
	img {
		width: 100% !important;
		height: auto !important;
	}
	hr {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		border-color: rgba($light, 0.3);
	}
	p:last-of-type() {
		margin-bottom: 0;
	}
}
