

.MuiSlider-thumb {
    height: 20px !important;
    width: 20px !important;
    margin-top: -10px !important;
    background-color: #fafafa !important;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.MuiSlider-rail {
    background-color: #fafafa !important;
}

.MuiSlider-mark {
    background-color: #fafafa !important;
}
.MuiSlider-track {
    background-color: #f50057 !important
}
.MuiSlider-markActive {
    background-color: #f50057 !important
}
