$dark: #24394d;
$light: #4bf3f8;
$white: white;

$dropshadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);

$transition-duration-short: 150ms;
$transition-duration: 300ms;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
